<header>
    <div class="tool-bar">
        <div class="container">
            <div class="">
                <ul class="d-flex justify-content-end align-items-center mb-0">
                    <li class="">
                        <a href="tel:9936166464">Ph.: 9936166464</a>
                    </li>
                    <li class="d-none d-sm-block">
                        <a href="javascript:void(0);">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:void(0);">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="d-none d-sm-block">
                        <a href="javascript:void(0);">
                            <i class="fa fa-share" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:void(0);">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="d-none d-sm-block">
                        <a href="javascript:void(0);" class="d-inline-block donate">
                            Donate <i class="fa fa-tint" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container py-3">
        <div class="row">
            <div class="col logo">Shri Raghav Seva Samiti</div>
            <div class="col navigate-link d-flex justify-content-between">
                <a href="/">
                    Home
                </a>
                <a href="/">
                    Contact Us
                </a>
                <a href="/">
                    Out Staff
                </a>
                <a href="/">
                    About Us
                </a>
            </div>
        </div>
    </div>
</header>
