<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3 pr-sm-2">
                <h3>Contact Us</h3>
                <address>
                    <p>
                        <a href="javascript:void(0)" >Shri Raghav Seva Samiti</a>
                    </p>
                    <p>
                        <b> Street Name</b> - 344 Type - 1, Kendranchal Colony Gujaini
                    </p>
                    <p>
                        Udhyog Nagar, Kanpur, 208022
                    </p>
                    <p>
                        <b> Phone : </b> 9936166414
                    </p>
                    <p>
                        <b> Email : </b> shriragavsevasamiti@gmail.com
                    </p>
                    <p>
                        <b> Website : </b> shriragavsevasamiti.org
                    </p>
                </address>
            </div>
            <div class="col-12 col-sm-3 pr-sm-2">
                <h3>Latest Events</h3>
                <ul>
                    <li>
                        <a href="javascript:void(0)">Social Networking</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Silver Spring, WP Info Session June</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Silver Spring, WP Info Session</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Success Stories</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-3 pr-sm-2">
                <h3>Get involved</h3>
                <ul>
                    <li>
                        <a href="javascript:void(0)">The Big Give Team</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Success Stories</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Press</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-3">
                <h3>Latest Tweets</h3>
                <div class="latest-tweets-body">
                    <a href="javascript:void(0)">@viktoras</a> Thanks! We're always redesigning things around here :)
                </div>
                <div class="mt-3">
                    <a class="follow">Follow @wplook</a>
                </div>
            </div>
        </div>
    </div>
</footer>
