<div class="container-fluid">
    <main>
        <app-image-slider></app-image-slider>
    </main>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-7">
            <h3>Feature News</h3>
            <div class="row">
                <div class="col-5 d-none d-lg-block">
                    <h3>Common Green Turtle: Natural History Notebooks</h3>
                    <p class="font-xs">Reptiles</p>
                    <p>As if the NBA star didn't have enough on his mind, Chael Sonnen decides to call him some names.As if the NBA star didn't have enough on his mind, Chael Sonnen decides to call him some names.As if the NBA star didn't have enough on his mind.</p>
                </div>
                <div class="col-12 col-lg-7">
                    <img class="feature-image" src="assets/big-10.jpeg"/>
                    <div class="d-block d-lg-none">
                        <h3>Common Green Turtle: Natural History Notebooks</h3>
                        <p class="font-xs">Reptiles</p>
                        <p>As if the NBA star didn't have enough on his mind, Chael Sonnen decides to call him some names.As if the NBA star didn't have enough on his mind, Chael Sonnen decides to call him some names.As if the NBA star didn't have enough on his mind.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-lg-1 col-12 col-md-5 col-lg-4">
            <h3>Events</h3>
            <img class="event-image" src="assets/slider-thumb2.jpeg">
        </div>
    </div>
</div>
